{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <title>TechTalk</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    {% bootstrap_javascript %}
    {% bootstrap_css %}

</head>

<body>

<div id="holder">

    <span>{% include "navbar.html" %}</span>


    <div id="body">
        <div class="container-fluid">

            <div class="page-header">

                {% block header %}{% endblock header %}
            </div>

            <div>

                {% block content %}{% endblock content %}

            </div>
        </div>
    </div>
</div>


</body>
</html>
